
.message {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.aria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 20px;
    padding: 10px 50px 10px 10px;
    background-color: rgba(225, 225, 225, 0.3);
    min-width: 200px;
    max-width: 500px;
    border-radius: 5px 5px 5px 0;

}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(225, 225, 225, 0.3) 0);
}

.img {
    margin-left: 15px;
    min-width: 50px;
    height: 50px;
    border: 3px solid #d3cedb;
    border-radius: 50%;
}

.text {
    margin: 0;
    font-size: 15px;
    color: gray;
}

.name {
    margin: 0;
    padding-bottom: 5px;
    font-size: 20px;
    color: blueviolet;
}

.time {
    position: absolute;
    right: 5px;
    bottom: 5px;

}


