.someClass {
    display: flex;
    flex-direction: column;
}

.error {
    border: 1px solid red;
}

.button {
    background-color: #61dafb;
    border: 2px solid gray;
    border-radius: 70%;
    margin-left: 5px;
}

.button:active {
    background-color: #61dafb;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.span {
    margin-left: 10px;
    color: gold;
}